<%= form_for :event, url: event_path(@event), method: :patch do |f| %>
  
 <div class="container form">
  
  <h3>Editar Evento</h3>
  
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "erro") %>. Favor verificar: 
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label :pilar %><br>
    <%= f.text_field :pilar, class: "form-control" %>
  </p>
  
    <p>
    <%= f.label :ciclo %><br>
    <%= f.text_field :ciclo, class: "form-control" %>
  </p>
  
  <p>
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control" %>
  </p>
  
  <p>
    <%= f.label :hora_inicio %><br>
    <%= f.text_field :hora_inicio, class: "form-control" %>
  </p>
  
  <p>
    <%= f.label :hora_fim %><br>
    <%= f.text_field :hora_fim, class: "form-control" %>
  </p>
  
  <p>
    <%= f.label :local %><br>
    <%= f.text_field :local, class: "form-control" %>
  </p>

  <p>
    <%= f.submit "Enviar", class: "btn btn-default btn-success" %> <%= link_to 'Voltar', root_url, class: "btn btn-default" %>
  </p>
<% end %>

</div>