<div class="container">

<h3>Resumo do Evento</h3>
<div class="event jumbotron">
  <h3><strong>Evento <%= @event.id %> - <%= @event.nome %> </strong><span class="label label-primary"> <%= @event.pilar %> </span></h3>
  <hr>
  <div class="row info">
    <div class="col-xs-3">
      <p><span class="label label-default">Ciclo</span> <%= @event.ciclo %> </p>
      <p><span class="label label-warning">Local</span> <%= @event.local %> </p>
    </div>
    <div class="col-xs-3">
      <p><strong>Início </strong><%= @event.hora_inicio.to_formatted_s(:short) %> </p>
      <p><strong>Final </strong><%= @event.hora_fim.to_formatted_s(:short) %> </p>
           
    </div>
    <div class="col-xs-6">
      <p><strong>Descrição </strong><%= @event.descricao %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><%= link_to 'Editar', edit_event_path(@event), class: "btn btn-default" %> <%= link_to 'Voltar', root_url, class: "btn btn-default" %> </p>
    </div>
  </div>  
</div>
