<p class="title">Resumo da Atividade</p>
<div class="event">
  <h3><strong>Evento</strong></h3>
  <div class="row info">
    <div class="col-xs-3">
      <p>Nome: <%= @event.nome %> </p>
    </div>
    <div class="col-xs-2">
      <p>Pilar: <%= @event.pilar %> </p>
    </div>
    <div class="col-xs-2">
      <p>Ciclo: <%= @event.ciclo %> </p>
    </div>
    <div class="col-xs-2">
      <p>Hora: <%= @event.hora_inicio %> <%= @event.hora_fim %> </p>
    </div>
    <div class="col-xs-3">
      <p>Local:  <%= @event.local %> </p>
    </div>
  </div>
  <div class="row description">
    <div class="col-xs-12">
      <p>Descrição: <%= @event.descricao %> </p>
    </div>
  </div>
  <div class="row attendee">
    <div class="col-xs-12">
      <p>Quem vai: Pessoas</p>
    </div>
  </div>  
</div>

<%= link_to 'Voltar', root_url, class: "btn btn-default" %>